.loginContainer{
    height: 80vh;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.loginBtn{
    border:none;
    background-color: transparent;
    position:fixed;
    top:50%;
    left: 25%;
    display:flex;
    justify-content: center;
    align-items: center;

}