.userContainer{
    width:100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}
.userStatisticsContainer{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height:400px;
}
.userStatisticsTitle{
    margin:10px;

}

.userStatisticsItem{
    width: 100vw;
    height:200px;
}

.userBtn{
    /* position:fixed; */
    bottom:10%;
    /* display: flex; */

}
.subTitle{
    margin-top: 10px;
    text-align: center;

}